<h1>HEAD OF THE PAGE</h1>

<p>WHATEVER YOU WOULD LIKE TO DISPLAY HERE. (I.E RULES)</p>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="???">WHATEVER YOU WOULD LIKE TO DISPLAY</label>
    <input id="???" name="???" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">????</button>
</form>
